POSTGRES_DB=grmr
POSTGRES_USER=grmr
POSTGRES_PASSWORD=grmr
POSTGRES_PORT=5432
REDIS_PORT=6379

BACKEND_PORT=8080
# Local development only. Generate your own with: openssl rand -hex 32
JWT_SECRET=a5b8c67850564876fb9e4609bc476a159f282115a806c8cc8b50f0b5aac86b3b
